// default layout

html, body
	height: 100%




.out,.footer
	width: 940px 
	margin: 0 auto
.l
	width: 100%
	display: inline-block
	.l-col1
		float: left
		width: 31.9%
	.l-col2
		float: right
		width: 65.9%
		
//footer stick
$footerheight: 116px
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -#{$footerheight} auto
.footer, .out__push
	height: $footerheight
.out__push
	height: $footerheight + 30px 