// Normally mainpage styles
.breadcrumb
	padding: 18px 0
	border: 1px dashed #b7b7b7
	border-width: 1px 0
	margin-bottom: 40px !important
	li
		position: relative
		display: inline-block
		margin-left: 10.5%
		font-size: 16px
		line-height: 1
		padding-left: 10px
		&:before
			position: absolute
			top: 50%
			margin-top: -4px
			left: 0
			content: ""
			+s(arr_bc)
		&:first-child
			margin-left: 0
	a
		text-decoration: underline
		&:hover
			text-decoration: none

.title
	position: relative
	font-size: 21px
	color: #333
	line-height: 1
	font-weight: normal
	+b
	text-transform: uppercase
	margin-bottom: 20px
	border-bottom: 3px solid #E3E3E3 
	+r(step2)
		font-size: 13px
	b
		display: inline-block
		vertical-align: baseline
		padding-bottom: 8px
		border-bottom: 3px solid #7b246e
		position: relative
		z-index: 10
		top: 3px 
	&.title_alt
		text-transform: none
		+b
		font-weight: normal
	&.title_mod
		font-size: 14px

.title-2
	font-size: 18px
	font-weight: normal
	+b

.title-3
	font-size: 16px
	font-weight: normal
	+b

.catalog
	font-size: 16px
	color: #333
	.catalog__text
		margin-bottom: 20px
	.catalog__item
		margin-top: 35px
		&:first-child
			margin-top: 0

.list_mod
	li
		position: relative
		padding-left: 32px
		margin-bottom: 0.4em
		&:before
			position: absolute
			top: 7px
			left: 17px
			content: ""
			+s(triangle)

.tabs
	margin-bottom: 20px
	.tabs__nav
		position: relative
		margin-bottom: 17px
		border-bottom: 3px solid #ececec
		+clr	
		+r(step3)
			+clr
			border: none
		&:before
			// position: absolute
			// bottom: 0
			// left: 0
			// width: 100%
			// height: 3px
			// background: #ececec
			// content: ""
			// +r(step3)
			// 	content: none
		li
			float: left
			font-size: 14px
			text-transform: uppercase
			border: 3px solid transparent
			+box-sizing(border-box)
			width: 31%
			text-align: center
			position: relative
			top: 3px 
			// top: -2px 
			// background: #0f0 
			span
				display: inline-block
				line-height: 30px 
				white-space: nowrap
				-ms-text-overflow: ellipsis
				text-overflow: ellipsis
				overflow: hidden
				width: 100% 
				padding-top: 3px 
			+r(step3)
				width: 32%
				float: left
				margin-left: 5px
				&:first-child
					margin-left: 0
			&:hover, &.is-active
				position: relative
				color: #000
				border: 3px solid #ececec
				border-width: 3px 3px 0
				+border-radius(7px 7px 0 0)
				z-index: 10
				background: #ff0
				+r(step3)
					border-width: 3px
					+border-radius(10px)
				&:after
					position: absolute
					right: -4px
					bottom: 0
					content: ""
					+s(tabs_border)
					+r(step3)
						content: none
				&:before
					position: absolute
					left: -4px
					bottom: 0
					content: ""
					+rotate(-90)
					+s(tabs_border)
					+r(step3)
						content: none
				&:first-child
					&:before
						content: none
				a
					+border-radius(7px 7px 0 0)
					background: #fff
					color: #000
					padding-bottom: 3px
					+r(step3)
						+border-radius(10px)
						padding-bottom: 5px
			a
				display: block
				// padding: 0 13px
				height: 37px
				line-height: 37px
				text-decoration: none
				+r(step3)
					line-height: 1
					font-size: 12px
					height: auto
					padding: 5px
	.tabs__content
		.tabs__block
			display: none
			&.is-visible
				display: block

.production
	.production__heading
		position: relative
		line-height: 1
		padding-bottom: 9px
		border-bottom: 1px dotted #ececec
		margin-bottom: 10px
	.production__title
		font-size: 18px
	.production__all
		position: absolute
		right: 0
		top: 50%
		margin-top: -6px
		font-size: 12px
		text-transform: uppercase
		+r(step2)
			font-size: 10px
	.production__content
		+clr
		li
			float: left
			width: 22.5%
			text-align: center
			margin-left: 3.3%
			+r(step3)
				float: none
				width: 50%
				margin-left: auto
				margin-right: auto
				margin-top: 10px
			&:first-child
				margin-left: 0
				+r(step3)
					margin-left: auto
					margin-top: 0
			&:hover
				a
					text-decoration: none
			a
				display: block
				height: 100%
				text-decoration: underline
			img
				width: 100%
				margin-right: auto
				margin-left: auto
			p
				margin-bottom: 0
				font-size: 16px
				line-height: 1

.items-cols
	.items-cols__list
		+clr
		margin-top: 20px
		li
			float: left
			width: 32.3%
			text-align: center
			margin-left: 1.5%
			+r(step3)
				float: none
				margin-left: auto
				margin-right: auto
				display: block
				width: 50%
				margin-top: 10px
			&:first-child
				margin-left: 0
				+r(step3)
					margin-left: auto
					margin-top: 0
			&:hover
				a
					text-decoration: underline
			a
				display: block
				height: 100%
				text-decoration: none
			p
				margin-bottom: 0
				font-size: 16px
				line-height: 1
			.items-cols__thumb
				position: relative
				border: 3px solid #f1f1f1
				+box-shadow(inset 0 0 0 2px #fff)
				margin-bottom: 3px
				img
					position: relative
					display: block
					width: 100%
					z-index: -1
					margin-right: auto
					margin-left: auto

.icon-play
	position: absolute
	top: 50%
	left: 50%
	margin-top: -29px
	margin-left: -29px
	+s(btn_play)

.data
	+clr
	padding-bottom: 7px
	margin-bottom: 7px !important
	border-bottom: 1px dashed #ccc
	&.data_mod
		padding-bottom: 0
		margin-bottom: 0
		border: 0
		.data__item
			width: 49.2%
	.data__item
		line-height: 1
		float: left
		width: 32.2%
		margin-left: 1.6%
		+r(step3)
			float: none
			width: 100%
			margin-left: 0
			text-align: center
			margin-top: 10px
		&:first-child
			margin-left: 0
			+r(step3)
				margin-top: 0
		p
			font-size: 15px
			margin-bottom: 0
	.data__number
		text-transform: uppercase
		font-size: 11px
		color: #666
		strong
			font-size: 28px
			font-weight: bold
			color: #333

.plant
	&.plant_small
		.plant__thumb
			width: 32.3%
		.plant__item
			p
				font-size: 14px
				margin-bottom: 0.5em
		.plant__title
			font-size: 16px
			margin-bottom: 0.5em
	.plant__item
		margin-top: 25px
		+clr
		p
			font-size: 16px
			color: #333
			margin-bottom: 0
	.plant__link
		text-transform: uppercase
		font-size: 13px
		text-decoration: underline
		&:hover
			text-decoration: none
	.plant__thumb
		float: left
		width: 35.5%
		min-height: 1px
		margin-right: 3%
		+box-sizing(border-box)
		border: 3px solid #f1f1f1
		+box-shadow(inset 0 0 0 2px #fff)
		+r(step3)
			float: none
			margin-bottom: 5px
		img
			position: relative
			display: block
			z-index: -1
			max-width: 100%
			margin-right: auto
			margin-left: auto
		a
			display: block
			height: 100%
	.plant__caption
		overflow: hidden
	.plant__title
		color: #7b246e
		font-size: 18px
		font-weight: bold
		line-height: 1
		a
			text-decoration: none
			&:hover
				text-decoration: underline

.article
	font-size: 16px
	color: #333
	margin-top: 40px
	+r(step3)
		margin-top: 20px
	p
		margin-bottom: 1em
	a
		text-decoration: underline
		&:hover
			text-decoration: none

.navbar
	border: 1px solid #d7d7d7
	+box-shadow(0 0 7px rgba(0,1,1,.1))
	+border-radius(5px)
	background: #fff
	margin-bottom: 40px
	+r(step3)
		margin-bottom: 20px
	ul
		+clr
		// display: table
		// table-layout: fixed
	li
		position: relative
		text-transform: uppercase
		float: left
		width: 25%
		text-align: center
		line-height: 1
		font-size: 14px
		font-weight: bold
		height: 60px
		line-height: 60px
		+r(step3)
			font-size: 10px
		&:before
			position: absolute
			bottom: 0
			left: 50%
			margin-left: -40px
			width: 80px
			height: 5px
			+border-radius(3px 3px 0 0)
			background: #a96da0
			content: ""
		&:after
			position: absolute
			top: 50%
			margin-top: -15px
			left: 0
			background: #d7d7d7
			width: 1px
			height: 30px
			content: ""
		&:first-child
			&:after
				content: none
	a
		line-height: 1
		display: inline-block
		vertical-align: middle
		text-decoration: none
		color: #000
		padding: 0 10px 

.b_alt
	.b__head
		position: relative
		.link
			position: absolute
			right: 20px
			top: 15px
			font-size: 13px
			font-weight: normal
			text-decoration: underline
			&:hover
				text-decoration: none
	.b__bottom
		padding: 20px 0
		.button
			margin: 0 20px

.items
	li
		+clr
		margin-top: 30px
		&:first-child
			margin-top: 0
	.items__thumb
		float: left
		margin-right: 3.8%
		overflow: hidden
		background: #ebebeb
		+border-radius(3px)
		img
			display: block
			max-width: 90px
			min-height: 90px
			margin-left: 0
			margin-right: 0
			+border-radius(3px)
		a
			display: block
			height: 100%
	.items__caption
		overflow: hidden
		line-height: 1.2
		p
			font-size: 14px
			color: #333
	.items__title
		color: #7b246e
		font-size: 16px
		font-weight: normal
		a
			text-decoration: none
			&:hover
				text-decoration: underline

.brands
	margin-top: 30px
	a
		text-decoration: underline
		&:hover
			text-decoration: none
	.brands__item
		padding: 18px
		margin-top: 20px
		background: #fff
		border: 2px solid #f1f1f1
		+box-sizing(border-box)
		+border-radius(5px)
		+clr
		&:first-child
			margin-top: 0
		&:hover, &.is-active
			border: 2px solid #a96da0
			.brands__btn-collapse
				i
					// +s(arr-collapse-active)
					opacity: 1
		&.is-active
			.brands__text
				display: block
			.brands__btn-collapse
				i
					+s(arr-collapse-active)
	.brands__logo
		float: left
		width: 22.5%
		margin-right: 3.5%
		min-height: 1px
		+r(step3)
			float: none
			display: block
			width: 100%
			margin-bottom: 5px
		img
			display: block
			max-width: 100%
			margin-right: auto
			margin-left: auto
		a
			display: block
			height: 100%
	.brands__info
		overflow: hidden
		font-size: 16px
		color: #333
		line-height: 1.2
	.brands__topper
		+clr
		border-bottom: 1px solid #ececec
		line-height: 1
		padding-right: 5px
		padding-bottom: 10px
		margin-bottom: 10px
	.brands__title
		float: left
		font-size: 21px
		font-weight: bold
		+r(step3)
			float: none
			text-align: center
	.brands__btn-collapse
		float: right
		padding-top: 5px
		font-size: 13px
		color: #7b246e
		text-transform: uppercase
		+r(step3)
			float: none
			text-align: center
		i
			display: inline-block
			vertical-align: middle
			margin-left: 5px
			margin-top: -3px
			+s(arr-collapse)
			opacity: 0.8
		&:hover
			cursor: pointer
	.brands__production
		margin-bottom: .5em
	.brands__text
		display: none

.about
	margin-bottom: 45px
	.about__list
		li
			position: relative
			margin-bottom: 0.5em
			padding-left: 20px
			&:before
				position: absolute
				top: 9px
				left: 5px
				+s(l-arr)
				content: ""
			p
				margin-bottom: 0
	.article
		margin-top: 25px
		& > p
			margin-left: 10px
			margin-bottom: 15px 
			

.infograph
	+clr
	margin-top: 25px
	margin-bottom: 6px
	.infograph__col
		float: right
		width: 48.5%
		+r(step2)
			float: none
			width: 100%
		&:first-child
			float: left
			+r(step2)
				float: none
				width: 100%
				margin-bottom: 20px
	.infograph__list
		li
			+clr
			margin-top: 25px
			&:first-child
				margin-top: 0
	.infograph__place
		float: left
		width: 60px
		text-align: right
		margin-right: 8px
		span
			position: relative
			display: inline-block
			background: #7b246e
			color: #fff
			font-size: 28px
			font-weight: normal
			min-width: 40px
			min-height: 32px
			text-align: center
			+box-sizing(border-box)
			+b
			padding: 2px 5px
			line-height: 1
			&:after
				position: absolute
				bottom: -6px
				left: 0
				right: 0
				height: 6px
				content: ""
				background: url("../img/icons/pl-arr.png")
				+background-size(100% 100%)
			sup
				display: inline-block
				vertical-align: top
				font-size: 14px
				padding-top: 4px
	.infograph__text
		overflow: hidden
		line-height: 1
		margin-top: 2px
		padding-right: 15%
	.infograph__absolute
		display: inline-block
		+s(pl-abs)

.key-brands
	.key-brands__top
		position: relative
		.title
			padding-right: 150px
	.key-brands__more
		text-transform: uppercase
		position: absolute
		right: 0
		top: 5px
		font-size: 13px
		+r(step2)
			font-size: 10px
	.key-brands__list
		+clr
		margin-bottom: 40px
		font-size: 0  
		li
			//float: left
			display: inline-block
			width: 33.3%
			margin-bottom: 25px
			+r(step2)
				width: 50%
			+r(step3)
				width: 100%
	.key-brands__logo
		display: table-cell
		vertical-align: middle
		height: 107px
		width: 33.3%
		text-align: center
		padding: 0 10%
		+r(step2)
			width: 100%
			display: block
			padding: 0
		+r(step3)
			width: 100%
		a
			display: inline-block
			height: 100%
		img
			display: inline-block
			max-width: 100%

.prod-slider
	.prod-slider__top
		position: relative
		.title
			padding-right: 150px
	.prod-slider__more
		text-transform: uppercase
		position: absolute
		right: 0
		top: 5px
		font-size: 13px
		+r(step2)
			font-size: 10px
	.prod-slider__content
		+clr
	.prod-slider__item
		overflow: hidden
		width: 100%
		padding: 0 30px
		+box-sizing(border-box)
		+clr
	.prod-slider__image
		float: left
		margin-right: 3.8%
		width: 28.6%
		width: 160px
		margin-right: 20px
		+r(step3)
			display: none
		img
			display: block
			max-width: 100%
	.prod-slider__info
		overflow: hidden
	.prod-slider__title
		font-weight: normal
		font-size: 18px
		margin-bottom: 10px
		padding-bottom: 10px
		border-bottom: 1px dashed #ccc
		strong
			+b
	.prod-slider__nav
		position: absolute
		top: 50%
		margin-top: -10px
		z-index: 1000
		+hidetext
		&.prod-slider__nav_prev
			left: 0
			+s(nav_prev)
			&:hover
				+s(nav_prev_h)
		&.prod-slider__nav_next
			right: 0
			+s(nav)
			&:hover
				+s(nav_h)

.presentation
	p
		margin-bottom: .6em

.map
	border: 3px solid #ececec
	background: #ececec
	+border-radius(0 0 5px 5px)
	&.map_mod
		.map__area
			height: 224px
		.map__legends
			+clr
			margin-left: 10px
			ul
				float: left
				padding: 0 18px 0 0
				font-size: 14px
				color: #070707
				margin: 0 20px 0 0
				border-right: 1px solid #bfbfbf
				+r(step2)
					float: none
					border: none
					margin: 0 0 5px
					padding: 0
				li
					position: relative
					min-height: 20px
					margin-top: 5px
					padding: 0
					&:first-child
						margin-top: 0
			.map__info
				overflow: hidden
				line-height: 1.4
				font-size: 15px
				padding-top: 4px
				+r(step2)
					display: block
				.link
					text-transform: uppercase
					text-decoration: underline
					&:hover
						text-decoration: none
	.map__area
		height: 400px
		background-color: #fff
	.map__legends
		padding: 12px 10px
		font-size: 14px
		color: #070707
		margin-left: 17px
		li
			position: relative
			min-height: 20px
			margin-top: 10px
			padding-left: 30px
			&:first-child
				margin-top: 0
		.icon
			position: absolute
			top: 0
			left: 0
			content: ""
			&.icon_square
				width: 20px
				height: 20px
				background: #7b246e
				&.icon_square_light
					background: #c391bb
			&.icon_circle
				top: 3px
				left: 4px
				border: 1px solid #999
				+border-radius(50%)
				+box-shadow(0 0 4px rgba(0,0,0,.38))
				width: 10px
				height: 10px
				&.icon_circle_yellow
					background-color: #ffcb00
				&.icon_circle_green
					background-color: #65cb33
			&.icon_pin
				position: relative
				display: inline-block
				vertical-align: middle
				margin-right: 5px
				+s(pin)
				&.icon_pin_yellow
					+s(pin_yellow)
				&.icon_pin_blue
					+s(pin_blue)

.support
	.support__text
		p
			margin-bottom: 1em

.logo
	position: absolute
	bottom: 7px
	left: 7px
	&.logo_tulchinka
		+s(logo_1)
	&.logo_premialle
		+s(logo_2)
	&.logo_tulchin
		+s(logo_3) 

.hero
	margin-bottom: 40px
	.h1
		text-align: center
	.hero__items
		+clr
		padding: 0 50px
		li
			float: right
			width: 48%
			&:first-child
				float: left
				+r(step2)
					width: 100%
					float: none
					margin-bottom: 20px
			+r(step2)
				width: 100%
				float: none

.row
	+clr
	.row__col
		float: right
		width: 48.9%
		min-height: 1px
		+r(step3)
			float: none
			width: 100%
		&.row__col_left
			float: left
			+r(step3)
			margin-bottom: 10px

.promo
	background-color: #ececec
	+border-radius(0 0 5px 5px)
	.promo__media
		position: relative
		height: 230px
		overflow: hidden
		img
			display: block
			max-width: 100%
			min-height: 230px
			margin-right: auto
			margin-left: auto
	.promo__caption
		font-size: 15px
		color: #333
		line-height: 1.2
		padding: 20px

.front-slider
	.front-slider__content
		position: relative
		overflow: hidden
	.front-slider__pager
		position: absolute
		bottom: 0
		left: 0
		right: 0
		text-align: center
		z-index: 110
		span
			display: inline-block
			width: 7px
			height: 7px
			background: #a4a0a3
			+border-radius(50%)
			+hidetext
			margin-left: 3px
			cursor: pointer
			&:first-child
				margin-left: 0
			&.cycle-pager-active
				background: #7b246e
	.front-slider__nav
		position: absolute
		top: 50%
		margin-top: -25px
		content: ""
		+hidetext
		z-index: 110
		&.front-slider__nav_prev
			left: 0
			+s(front_prev)
		&.front-slider__nav_next
			right: 0
			+s(front_next)
	.front-slider__item
		padding: 0 40px 20px
		+box-sizing(border-box)
		width: 100%
		width: 403px 
		text-align: center
		font-size: 15px
		+b
		color: #000
		text-transform: uppercase
		min-height: 85px
		small
			+m
			font-size: 18px
	.front-slider__item-head
		font-size: 18px
	.front-slider__brands
		text-align: left
		+clr
		+r(step2)
			text-align: center
		img
			float: left
			max-width: 100%
			margin-right: 20px
			+r(step2)
				float: none
				display: inline-block
	.front-slider__brands-text
		//overflow: hidden
		padding-top: 20px
		line-height: 1
		vertical-align: top
		width: 183px 
		float: left 
		position: absolute
		left: 180px
		+r(step2)
			display: inline-block
		p
			vertical-align: top
			margin-bottom: 0.5em

.place
	position: relative
	display: inline-block
	background: #7b246e
	color: #fff
	font-size: 28px
	font-weight: normal
	min-width: 40px
	text-align: center
	+box-sizing(border-box)
	+b
	padding: 2px 5px
	margin-bottom: 10px
	line-height: 1
	&:after
		position: absolute
		bottom: -6px
		left: 0
		right: 0
		height: 6px
		content: ""
		background: url("../img/icons/pl-arr.png")
		+background-size(100% 100%)
	sup
		display: inline-block
		vertical-align: top
		font-size: 14px
		padding-top: 4px

.prod-catalog
	margin-bottom: 105px
	margin-bottom: 60px 
	.prod-catalog__head
		overflow: hidden
		text-align: center
		margin-bottom: 10px
	.prod-catalog__title
		text-transform: uppercase
		font-size: 21px
		+b
		span
			position: relative
			display: inline-block
			padding: 0 10px
			line-height: 1
			&:before
				position: absolute
				top: 50%
				margin-top: -1px
				right: 100%
				height: 1px
				width: 1000px
				background: #000000
				content: ""
			&:after
				position: absolute
				top: 50%
				left: 100%
				height: 1px
				width: 1000px
				background: #000000
				content: ""
	.prod-catalog__more
		text-transform: uppercase
		font-size: 13px

	.prod-catalog__items
		ul
			+clr
		li
			position: relative
			float: left
			width: 19.2%
			font-size: 14px
			background: #7b246e
			margin-bottom: 6px
			+border-radius(3px)
			color: #fff
			padding: 3px 0 7px
			margin-left: 1%
			text-align: center
			&:hover
				background: #BD91B6 
				&:before
					+s(arrb1)
			+r(step3)
				display: block
				max-width: 40%
				margin-left: auto
				margin-right: auto
				float: none
				width: auto
				margin-bottom: 14px
			&:first-child
				margin-left: 0
				+r(step3)
					margin-left: auto
					margin-right: auto
				&:before
					margin-left: -8px
				&:after
					content: none
			&:before
				position: absolute
				bottom: -5px
				left: 50%
				margin-left: -11px
				+s(arrb)
				content: ""
			&:after
				display: none
				position: absolute
				top: 30px
				height: 3px
				width: 20px
				right: 100%
				z-index: -1
				background: #bd91b6
				content: ""
				+r(step3)
					content: none
			a
				display: block
				height: 100%
				color: #fff
				text-decoration: none
				&:hover
					//text-decoration: underline
					text-decoration: none
			p
				padding: 0 3px
				overflow: hidden
				-ms-text-overflow: ellipsis
				text-overflow: ellipsis
				white-space: nowrap
		.prod-catalog__thumb
			margin-bottom: 4px
			padding: 0 3px
			img
				display: block
				margin-left: auto
				margin-right: auto
				max-width: 100%
	.prod-catalog__btn
		position: relative
		text-align: center
		height: 65px
		background: url("../img/bg-fr1.png")
		+background-size(100% 100%)
		+r(step3)
			background: none
		.prod-catalog__holder
			display: inline-block
			padding: 2px
			background: #fff
			position: absolute
			bottom: -20px
			left: 50%
			margin-left: -80px
			.button
				display: inline-block
				padding: 0
				width: 160px
				height: 35px 
				line-height: 37px 
				text-decoration: none




.overlay
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(#000, .7)
	z-index: -1
	opacity: 0
	+transition(all .3s linear)
	&.is-active
		opacity: 1
		z-index: 1000

.popup
	position: fixed
	width: 68%
	height: 400px
	+box-shadow(0 0 0 5px rgba(#000,.3))
	left: 50%
	top: 50%
	padding: 20px 0
	margin-left: -34%
	margin-top: -220px
	z-index: -1
	opacity: 0
	background-color: #fff
	border-radius: 10px
	+transform(translate3d(0,-100%,0))
	+transition(all .3s ease-in)
	&.is-active
		opacity: 1
		z-index: 1001
		+transform(translate3d(0,0,0))
	.popup-i
		position: relative
		-ms-overflow-y: scroll
		overflow-y: scroll
		height: 100%
		padding: 0 20px
		+box-sizing(border-box)
	.popup__close
		position: absolute
		top: -17px
		right: -17px
		+s(close)
		z-index: 10
		&:hover
			cursor: pointer
	.popup__title
		font-size: 27px
		line-height: 1
		+b
		margin-bottom: .5em
		+r(step3)
			font-size: 20px

.popup .plist__list
	max-height: 240px 
	overflow: auto
.plist
	.plist__list
		margin-bottom: 20px
	.plist__item
		position: relative
		+clr
		margin-bottom: 10px
		padding-bottom: 10px
		border-bottom: 1px dashed #999
	.plist__pic
		float: left
		margin-right: 10px
		border: 1px solid #dbdbdb
		+border-radius(3px)
		// width: 70px
		// height: 50px
		max-width: 150px 
		padding: 5px  
		+box-sizing(border-box)
		+r(step3)
			display: none
		img
			display: block
			max-width: 100%
			margin-left: auto
			margin-right: auto
			+border-radius(3px)
	.plist__info
		overflow: hidden
		padding-top: 5px
		margin-right: 70px
	.plist__title
		font-size: 16px
		+b
	.plist__art
		font-size: 13px
	.plist__remove
		position: absolute
		top: 11px
		right: 0
		font-size: 12px
		text-transform: uppercase
		text-decoration: none
		line-height: 1
		i
			display: inline-block
			vertical-align: middle
			margin-left: 4px
			margin-top: -4px
			+s(del)
	.plist__btn
		+clr
		.add
			float: left
			+r(step1)
				float: none
				margin-bottom: 10px
				margin-right: 10px
		.purplebutton
			float: right
			margin-left: 10px
			+r(step1)
				margin-right: 10px
				margin-left: 0
				float: none
				margin-bottom: 10px


.pdetails
	position: relative
	.pdetails__pic
		float: left
		width: 300px
		min-height: 1px
		+border-radius(5px)
		border: 2px solid #dbdbdb
		margin-right: 20px
		margin-bottom: 10px
		+r(step1)
			float: none
		+r(step2)
			width: 100%
		img
			display: block
			max-width: 100%
			margin-left: auto
			margin-right: auto
			+border-radius(3px)
	.pdetails__info
		overflow: hidden
		font-size: 16px
		margin-right: 100px
	.pdetails__art
		font-size: 14px
		margin-bottom: 0.5em
	.pdetails__list-title
		+b
	.pdetails__list
		margin-left: -15px
		li
			&:before
				+s(tr)
	.pdetails__choose
		position: absolute
		top: 0
		right: 0
		display: inline-block
		vertical-align: top
		background: #F2F2F2
		border-radius: 5px
		padding: 3px 15px
		margin-bottom: 6px
		font-size: 12px
		color: #7A286D
		text-transform: uppercase
		+r(step2)
			position: relative
		input
			vertical-align: middle
			margin-right: 4px
			position: relative
			top: -1px
		span
			vertical-align: middle
	.pdetails__cols
		+clr
		clear: both
	.pdetails__col
		width: 23.5%
		float: left
		+r(step1)
			float: none
			width: auto
	.pdetails__col_mod
		width: 46.5%
		float: right
		padding-right: 10px
		+r(step1)
			float: none
			width: auto

.storage
	.storage__range
		position: relative
		margin: 30px 0 35px
		height: 5px
		background: #d5e4e9
		+clr
	.storage__temp
		span
			position: absolute
			top: -20px
			font-size: 12px
	.storage__line1, .storage__line2
		height: 100%
		float: left
		background: #72a6b8
	.storage__line2
		background: #a5cbd8
	.storage__days
		text-align: center
		line-height: 1
		padding-top: 10px
		+clr
		span
			float: left
			width: 33.3%
			font-size: 11px
		strong
			font-size: 14px
			+b
			display: block
	.storage__days-info
		padding-top: 10px
		clear: both
		font-size: 14px
		color: #666










